
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row{
    width: 100%;
    background-color: blue;
    position: relative;
    /* height: 200px; */
    padding-bottom: 30px;
}

.row>input{
    padding: 8px 0px;
    padding-right: 40px;
    padding-left: 10px;
}

.row>button{
    padding: 8px 0px;
    padding-right: 40px;
    padding-left: 30px;
    color: white;
    background-color: black;
}

.row>img{
    width: 55%;
    position: relative;
    left: 200px;
    bottom: 80px;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 20px; */
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav ul li:last-child {
    margin-right: 0;
}

hr {
    border: none;
    border-top: 2px solid black; /* Độ dày và màu sắc của đường kẻ */
}


nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: 600;
}


nav ul li a:hover {
    /* transform: scale(2); */
    color: red;
}

.btn {
    padding: 8px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

/*  */
.col-1{
    width: 77%;
    display: flex;
    margin-right: 2%;
    max-height: 280px;
    margin-top: 60px;
}

.mr-2{
    margin-right: 4%;
}

.sanpham{
    padding: 10px;
    background-color: orange;
    width: calc(88%/3);
    text-decoration: none;
    
}

.sanpham-text{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sanpham>div>img{
    width: 100%;
}

.sanpham>div>p{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
}

.sanpham:hover{
    transform: scale(1.1);
}

/*  */

.col-2{
    margin-top: 30px;
    width: 21%;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    height: 400px;
}

.search>input{
    margin-top: 15px;
    width: 85%;
    /* height: 30px; */
    padding: 10px 10px;
    margin-bottom: 290px;
}

.search>div{
    padding: 8px 0px;
    width: 40%;
    margin: auto;
    background-color: #007bff;
    color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    background-color: white;
    /* margin-bottom: 90px; */
}




